@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1,h2,h3,p{
      padding: 0;
      margin: 0;
  }

  body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }

  .product-card{
    display: flex;
    width: 60%;
    /* height: 40vh; */
    margin: 5% auto;
    /* gap: 3rem; */
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
  }

  .product-card-image{
    flex: 1;

  }
  .product-card-image img{
    /* border-top-left-radius: 20px; */
    height: auto;
    width: 350px;
    
  }

  .product-card-details{
    flex: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .product-category{
color: hsl(228, 12%, 48%);
text-transform: uppercase;
font-weight: 300;
    }

    .product-title{
font-size: 2rem;
font-family: "Fraunces", serif;
font-weight: 700;
color: hsl(212, 21%, 14%);
    }
    
  }

  